@import url('font.whitney.css');
@import url('font.ginto.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-style: arial;
}

:root{
    --marca: #5865f2;
    --marca-gradient: linear-gradient(90deg,#8ea1e1,#7289da);
    --cinzasuave: #99aab5;
    --pretosuave: #2c2f33;   
    --off-white: #f6f6f6;
    --branco: #fff;
    --pretoMaisSuave: #23272a;    
    --preto: #000;    
    /*--page-max-width: 1260px;
    --num-grid-columns: 4;
    --page-gutter: 24px;
    --section-spacing: 56px;*/
    --font-primary: "Whitney Book Regular","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-display: "GintoNord Bold Normal","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-headline: "GintoNord Black","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-monospace: "Menlo","Consolas","Monaco",monospace;
    --font-glitch: "ArchivoBlack","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-cursive: "Reenie Beanie","Comic Sans MS",cursive,sans-serif;
}

body{
    display:flex;
    flex-direction: column;
    background-color: var(--marca);
    color: var(--branco);
    font-family: var(--font-primary);
    
    
}

a{
    text-decoration: none;
}

a:visited{
    color: var(--off-white);
}

a:hover{
    cursor: pointer;
}
/* todas as Sections*/


nav{
    
    display: flex;
    justify-content: space-around;

    align-items: center;

    color: rgb(252, 252, 252);

    font-size: 12px;
    font-weight: bold;
}

nav a{
    margin: 5px;
}

nav img{
    scale: 70%;
}


#btEntrar{
    background-color: rgb(255, 255, 255);

    padding: 5px 8px;

    border-radius: 15px;

    color: black;
}

main{
    display: flex;
    flex-direction: column;
}

/*Configuração base de todas as seções com conteúdo*/
.SeçãoConteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100vw;
    height: 550px;
    
    background-color: #111111;

}
/*Configuração base de todas as Div com conteúdo*/
.divConteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}

 /*primeira seção "Imagine um lugar*/
#sec1{
    /*Todos sec são flex por que ta no section geral*/
    justify-content: center;
    height: 550px;
    
    background-image: url('../img/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    
    
}

div img{
    /*Todas as imagens dentro de div vão se ajustar a elas */
    max-width: 100%;
    height: auto;
    display: block
}

#divImagine h1{
    font-size: 50px;
    font-family: 'GintoNord Black';
    text-align: center;    
    
}

#divImagine p{
    font-size: 18px;    
    max-width: 730px;
    text-align: center;    
    
}

#divImagineLink{
    display: flex;
}

#divImagineLink a{

    display: flex;
    flex-wrap: 1;
    flex-shrink: 1;
    flex-grow: 1;

    margin: 40px 15px;
    padding: 25px;    
    border-radius: 25px;   
    
    font-size: 20px;
    font-weight: bold;
     text-align: center;    

}

#btBaixar{

    background-color: var(--off-white);
    color: var(--preto);
    
}


#btNav{
    background-color: var(--off-white);
    color: var(--off-white);
    background-color: var(--pretosuave);    
}

#btBaixar img{
    padding: 0PX 4PX;
}

/*Segunda seção "Crie um espaço*/

#sec2, #sec4{
    background-color: var(--branco);
}

#sec3, #sec5{
    background-color: var(--off-white);
}


.classDivConteudo2a4{ /*Div's da seção 2 a seção 4*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;

    width: 80%;
    max-width: 1100px;

}

.classDivImg2a4{ /*Div's de imagens da seção 2 a seção 4*/
    width: 70%;/*REVER*/    
}


.classdivTXT2a4{     /*Div's de Textos da seção 2 a seção 4*/
    width: 40%;
    max-width: 360px;
    color: var(--preto);
}
.classdivTXT2a4 h2{ /*Títulos <h2> de Textos da seção 2 a seção 4*/
    line-height: 120%;    
    font-size: 48px;
    font-family: var(--font-display);    
}

.classdivTXT2a4 p{ /*paragrafos <p> de Textos da seção 2 a seção 4*/
    line-height: 120%;    
    font-size: 18px;
    line-height: 1.625; 
}

/*Seção 5 -- é um pouco diferente */

#sec5{
    height: 1100px;
    padding: 80px;
    
    
}

#divTXTSec5{
    
    display: flex;
    flex-direction: column;
    align-items: center;
        

    color: var(--preto)
    
}

#divTXTSec5 h2{
    width: 70%;
    
    text-align: center;

    line-height: 120%;    
    font-size: 36px;
    font-family: var(--font-headline);
    text-transform: uppercase;

}

#divTXTSec5 p{
    width: 70%;
    line-height: 120%;    
    font-size: 18px;
    line-height: 1.625; 
    text-align: center;

}

#divImgSec5 {
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;    
    
}

#divImgSec5 img{
    width: 80%;
}

#divTXTeBT{

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
    width: 100%;
    display: flex;   

}

#divTXTeBT h3{
    color: var(--preto);
    background-image: url('../img/fundo-estrela.svg');
    
    background-size: cover;
    

    width: 500px;
    
    line-height: 120%;
    
    text-align: center;
    font-family: var(--font-display);
    font-size: 32px;
    margin-bottom: 20px;

}

#divTXTeBT a{

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #ffffff;   
    background-color: var(--marca);

    padding: 10px 30px;
    font-size: 18px;

    border-radius: 20px;
}
#divTXTeBT a img{

    padding-right: 10px;
    color: #fff;

}

/*Footer*/

#sec6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
       
}

#DivFooter{

    display: flex;
    flex-direction: row;

    width: 80vw;    
    height: 400px;

}

#ftDivImagine {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 300px;
    
    background-color: #2c2f33;

}

#ftDivRedesSociais{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#ftDivImagine h4{

    color: black;
}

#ftDivImagine select{

    width: 50%;
    
}

#ftListas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 70%;

}

























